.defaultBackground {
    /* background: rgba(255, 205, 178, 0.74); */
    background: #d3e8fc;
}

#hembild, .ombild, #navbild {
    width: 230px;
}

#loginbild {
    width: 70px;
}

#userhembild {
    width: 60px;
}

.hemtop, .logintop {
    background-image: url("pencils.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 200px;
}

.omtop {
    background-image: url("pencilsr.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 200px;
}

#hemrubrik, #hemunderrubrik, #omrubrik, #loggainrubrik {
    padding-top: 3rem;
    font-family: 'Shadows Into Light', cursive;
}

#loggainrubrik {
    padding-bottom: 4rem;
}

#hemunderrubrik {
    margin-top: 2rem;
}

#startalista, .userrubrik {
    font-family: 'Shadows Into Light', cursive;
}

.btn-square-sm {
    width: 20px;
    height: 20px;
}

.error {
    color: red;
}

#green, #yellow, #red {
    width: 21px;
    height: 20px;
    border-radius: 5px;
}