.defaultBackground {
    /* background: rgba(255, 205, 178, 0.74); */
}

#hembild, .ombild, #navbild {
    width: 230px;
}

#userhembild {
    width: 60px;
}

.hemtop {
    background-image: url("pencils.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 200px;
}

.omtop {
    background-image: url("pencilsr.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 200px;
}

#hemrubrik, #hemunderrubrik, #omrubrik {
    padding-top: 3rem;
    font-family: 'Shadows Into Light', cursive;
}

#hemunderrubrik {
    margin-top: 2rem;
}

#startalista, .userrubrik {
    font-family: 'Shadows Into Light', cursive;
}

.btn-square-sm {
    width: 20px;
    height: 20px;
}