<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="https://thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>ToDoListan - Admin</title>
</head>
<body>

    <div layout:fragment="content">
        <div class="d-flex flex-row justify-content-between align-items-center">
            <h1 class="display-4 p-2">Välkommen till adminsidan</h1>
            <div class="d-flex flex-row justify-content-center align-items-center m-2" id="admininlogg">
                <p class="text-primary fw-bold loginas">Inloggad som: </p>
                <p sec:authentication="name"></p>
            </div>
        </div>
        <h4 class="display-6 p-2">Lista på användare:</h4>
        <ul class="d-flex flex-row align-items-center" th:each="users:${users}">
            <li class="id" th:text="'Namn: ' + '' + ${users.getUsername()}"></li>
            <!-- <button class="btn btn-danger text-light m-2">Ta bort användare</button> -->
        </ul>
    </div>

</body>
</html>