<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="https://thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>ToDoListan - Admin</title>
</head>
<body>

    <div layout:fragment="content">
        <div class="d-flex flex-row justify-content-between align-items-center">
            <h1 class="display-4 p-2">Välkommen till adminsidan</h1>
            <div class="d-flex flex-row justify-content-center align-items-center m-2" id="admininlogg">
                <p class="text-primary fw-bold loginas">Inloggad som: </p>
                <p sec:authentication="name"></p>
            </div>
        </div>
        <h4 class="display-6 p-2">Lista på användare:</h4>
        <div class="p-3">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Namn</th>
                        <th scope="col">Åtgärd</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="users:${users}">
                    <td th:text="${users.getUsername()}"></td>
                    <td>
                        <form th:action="@{/delete/{userid}(userid=${userModel.getUserid})}" th:object="${userModel}" th:method="post">
                            <input name="_method" type="hidden" value="DELETE" />
                            <button th:field="${userModel}" class="btn btn-danger text-light m-2" type="submit" onClick="return confirm('Vill du verkligen ta bort den här användaren?')">Ta bort användare</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>