<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>ToDoListan - Registrera</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="d-flex justify-content-center">
            <form th:action="@{/register}" th:object="${userModel}" method="POST" style="width: 300px">
                <div class="mb-3 mt-3">
                    <label class="form-label">Användarnamn:</label>
                    <input type="text" class="form-control" th:field="*{username}" name="username" placeholder="Skriv användarnamn">
                </div>
                <div class="mb-3">
                    <label for="pwd" class="form-label">Lösenord (mellan 8 och 20 tecken):</label>
                    <input type="password" th:field="*{password}" name="password" class="form-control" id="pwd" placeholder="Fyll i lösenord">
                </div>
                <div class="mb-3">
                    <label class="form-label">Vem är du?</label>
                    <select th:field="*{authorities}" class="form-select" aria-label="authorities">
                        <option value="User" th:text="Användare"></option>
                        <option value="Admin" th:text="Admin"></option>
                    </select>
                </div>
                <div class="form-check mb-3">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="robot"> Jag är ingen robot
                    </label>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Registrera</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>