<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="https://thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>ToDoListan - Min sida</title>
</head>
<body>

<div layout:fragment="content">
    <div class="d-flex justify-content-between align-items-start">
        <div class="d-flex flex-row">
            <div class="bg-success m-1" id="green" ></div>
            <p>= Färdigt</p>
            <div class="bg-warning m-1" id="yellow"></div>
            <p>= Ändra</p>
            <div class="bg-danger m-1" id="red"></div>
            <p>= Ta bort</p>
        </div>
        <div class="d-flex flex-row justify-content-center align-items-center m-2" id="userinlogg">
            <p class="text-primary fw-bold loginas">Inloggad som: </p>
            <p sec:authentication="name"></p>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center p-3">
        <h1 class="userrubrik">Välkommen till Min sida!</h1>
        <img th:src="@{/static/pennapapper.png}" alt="404 image not found" id="userhembild">
    </div>
    <div class="d-flex justify-content-center">
        <form th:action="@{/userhome}" method="POST" th:object="${postModel}" class="d-flex justify-content-center align-items-center" style="max-width: 500px">
            <div>
                <input th:field="*{description}" type="text" class="form-control" placeholder="Lägg till i listan..." name="addpost">
                <p th:if="${#fields.hasErrors('description')}" th:class="${#fields.hasErrors('description')}? error" >Får inte vara tomt!</p>

            </div>
            <div>
                <button type="submit" class="btn btn-info">Lägg till!</button>
            </div>
        </form>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <div class="d-flex justify-content-center align-items-center p-2 todolistan">
            <table class="table table-hover">
                <tbody>
                <tr th:each="post:${post}">
                    <td th:text="${post.getDescription()}"></td>
                    <td>
                        <button class="btn btn-success btn-square-sm m-1" ></button><button class="btn btn-warning btn-square-sm m-1"></button><button class="btn btn-danger btn-square-sm m-1"></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>